/* BUTTONS */
.cta-size {
    background-color:#ffffff;
    color: #cc7229;
    border-radius: 5px;
    border: 2px solid #cc7229;
    font-size: 16px;
    text-decoration: none;
    padding: 3px 20px;
    text-transform: uppercase;
    min-width: 30px;
    margin-top: 5px;
}

.cta-add-product {
    background-color:#ffffff;
    color: #cc7229;
    border-radius: 5px;
    border: 2px solid #cc7229;
    font-size: 16px;
    text-decoration: none;
    padding: 3px 20px;
    text-transform: uppercase;
    min-width: 30px;
    margin-top: 5px;
    margin-left: 20px;
}

.cta-go-to-cart {
    background-color:#cc7229;
    color: white;
    border-radius: 5px;
    border: 2px solid #cc7229;
    font-size: 16px;
    text-decoration: none;
    padding: 3px 20px;
    text-transform: uppercase;
    min-width: 30px;
}

.add-product {
    color: rgb(0, 0, 0);
    border: 3px solid #080400;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px;
}
.product-main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 50px auto;    
}

.product-img {
    display: flex;
    width: 400px;
    margin-left: 40px;
}

.product-img img {
    width: 70%;
    max-height: 500px;
}

.product-img-column {
    flex-direction: column;
}

.product-img-column img {
    width: 75%;    
}

.product-price {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.product-info {
    max-width: 400px;
    margin-top: 20px;
    margin-left: 40px;
}

.product-info h1{
    margin-top: 20px;
}

.product-info p{
    font-size: 1em;
    margin-top: 5px;
}


.cta-column {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.cta-column a {
    margin-top: 10px;
}
